* {box-sizing: border-box}
body {
    font-family: "Lato", sans-serif;
   
}

/* Style the tab */
.tab {
  float: left;
  background: rgba(255, 255, 255, 0.589);
  width: 25%;
  height: 720px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  font-weight: bold;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 20px;
  font-family:'Pacifico', cursive, 'serif' ;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color:rgb(11, 89, 92);
  opacity: 0.9;
}
/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #f1f1f1;
    opacity: 0.9;
  }
  
  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 0px 12px;
    background: transparent;
    border: 1px  #ccc;
    width: 75%;
    border-left: none;
    height: 550px;
  }
  
  input[type=text], input[type=email], input[type=tel]{
      width: 50%;
      opacity: 1;
      padding: 12px 18px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      box-shadow: 0px 3px 6px #00000029;
    }
    input[type=text],input[type=date],input[type=week] ,input[type=month]  {
      width: 50%;
     
      padding: 12px 18px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      box-shadow: 0px 3px 6px #00000029;
    }
  
    /* Set a style for all buttons */
    button {
      background-color:rgb(11, 89, 92);
      
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 20%;
      border-radius: 10px;
      box-shadow: 0px 3px 6px #00000029;
    }
  
    .card {
      background-color:white;
      opacity: 0.9;
      padding: 20px;
      margin-top: 20px;
      overflow: hidden;
    }
  
    body{
      height:100%;
      /* background: url('thumb-1920-317196.jpg') no-repeat center center fixed; */
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      background-size:cover;
      background-position: 0 0;
    }
  
    .active, .accordion:hover {
      background-color: #ccc; 
    }
    
    .panel {
      padding: 0 18px;
      display: none;
      background-color: white;
      overflow: hidden;
    }
  

    /* css for booking */
    .ticket {
      border: 1px solid #ccc;
      /* box-shadow: 1px 0px 9px 2px #ccc;  */
      background-color:white;
      opacity: 0.9;
      margin: 26px;
  }
  .ticket table {
      border: none
      
  }
  .ticket table thead {
      border: none;
      background: #FCFCE0;
      font-weight: bold
  }
  

  table {
      border-collapse: collapse;
      width: 100%;
      border: 1px solid #ddd;
      
    }
    
    th {
      text-align: center;
      padding: 16px;
      font-family:'Pacifico', cursive, 'serif' ;
      font-size: larger;
      
    }
   td {
      text-align: center;
      padding: 16px;
      
    }
    label{
      font-family:'Pacifico', cursive, 'serif' ;
      font-size: larger;
    }