<div id="main_1">
    <div class="containers">
        <h2>Passengers Information</h2>
        <div id="msgpassenger" style="color:darkred; font-weight:bold"></div>
        <form  #passenger="ngForm">
            <label for="name">Name</label><br>
            <input type="text" id="name" name="name" placeholder="Name" #name="ngModel" required
                [(ngModel)]="passengerDetail.passengerName" pattern="[A-Za-z -]*" maxlength="25"><br>
            <span *ngIf="name.invalid && (name.touched || name.dirty)" style="color: darkred;border-color:darkred; font-weight: bold;">
                <span *ngIf=name.errors.required>Name is required</span>
                <span *ngIf=name.errors.pattern>Please enter a valid name</span>
            </span>
            <br>
            <label for="Age">Age</label><br>
            <input type="text" id="age" name="age" placeholder="Age" #age="ngModel" required
                [(ngModel)]="passengerDetail.passengerAge" pattern="[0-9]*" maxlength="2"><br>
            <span *ngIf="age.invalid && (age.touched || age.dirty)" style="color: darkred;border-color:darkred;font-weight: bold;">
                <span *ngIf=age.errors.required>Age is required</span>
                <span *ngIf=age.errors.pattern>Please enter a valid age</span>
            </span>
            <br>
            <label for="Gender">Gender</label><br><br>
            <input type="radio" name="gender" value="male" [(ngModel)]="passengerDetail.gender"> Male<br><br>
            <input type="radio" name="gender" value="female" [(ngModel)]="passengerDetail.gender"> Female<br>
            <button type="reset" (click)="addPassenger()" [disabled]="numberOfPassengers==0">Add Passenger</button>
        </form>
    </div>

    <form #contactForm=ngForm (ngSubmit)="proceedToPay(contactForm)" >
        <div class="containers">
            <h2>Contact Details</h2>
            <hr>
            <label for="email">Email Id</label><br>
            <input type="text" placeholder="Enter Email" name="email" id="email" #em=ngModel required
                pattern="[a-z0-9._%+-]+@[a-z0-9-]+\.[a-z]{2,4}$" [(ngModel)]=emailOfPassenger>&nbsp;
            <span *ngIf="em.invalid && (em.dirty||em.touched)" style='color: darkred; border-color: darkred;'>
                <span *ngIf="em.errors.required">Email is required</span>
                <span *ngIf="em.errors.pattern">Invalid email type</span></span>
            <br>
            <hr>
            <button type="submit" class="phonebtn">Proceed to pay</button>
        </div>
    </form>
</div>
 <div style="margin-top:150px ;"></div>



