/* Style inputs with type="text", select elements and textareas */

h2,p,h1,button,th,label{
  font-family: 'Pacifico', cursive;;
}


input[type=text], select, textarea {
    width: 70% ;/* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  
  input[type=radio] textarea {
      width: 100%; /* Full width */
      padding: 8px; /* Some padding */ 
      border: 1px solid #ccc; /* Gray border */
      border-radius: 4px; /* Rounded borders */
      box-sizing: border-box; /* Make sure that padding and width stays in place */
      margin-top: 6px; /* Add a top margin */
      margin-bottom: 8px; /* Bottom margin */
      resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    }
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #151670;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #142983;
  }
  
  /* Add a background color and some padding around the form */
  .containers {
    width: 70%;
    border: 1px solid #ccc;
    background: rgba(204, 223, 228, 0.8); 
    margin: 20px;
    margin-left: 150px;
    border-radius: 15px;
    padding: 15px;
  }
  
  * {box-sizing: border-box}
  
  /* Add padding to containers */
  .containers {
    padding: 16px;
  }
  
  /* Full-width input fields */
  input[type=text] {
    width: 70%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit/register button */
  .phonebtn {
    background-color: #2e229c;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .phonebtn:hover {
    opacity:1;
  }
  button:disabled
{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}