<div class="card" style="width: 33%; margin-left: 30%;padding-left: 110px; margin-bottom: 30em;">
  <!-- <div class="outer" style="width: 50%;">   -->

  <div *ngIf=" isLoggedIn then loggedIn else notRegistered"></div>
  <ng-template #loggedIn>
    <h1 style="margin-left: 20%;">Cancel Ticket</h1>

    <h2>Are you sure you want to cancel your ticket ?</h2>
    <div id="resultDiv"></div>
    <div class="">
      <button type="submit" class="signupbtn" (click)="cancelFunction()">Yes</button>
      <a style="text-decoration: none; color: white;" [routerLink]="['/homeLink']"><button type="button"
          class="cancelbtn">No</button></a>
          <br>
     
    </div>

  </ng-template>
  <ng-template #notRegistered>
    <h1 style="margin-left: 20%;">Cancel Ticket</h1>
    <h2>Are you sure you want to cancel your ticket ?</h2>
    <h3><b>Please Login/Register to get your refund in your wallet.</b></h3>
    <div class="">
      <button type="submit" class="signupbtn" [routerLink]="['/loginLink']">Login</button>
      <a style="text-decoration: none; color: white;" [routerLink]="['/homeLink']"><button type="button"
          class="cancelbtn">Cancel</button></a>
    </div>
    <br>

    <a style="text-decoration: none; color: white;" [routerLink]="['/registerationLink']"><button type="button"
        style="width: 72%;  background-color:rgb(11, 89, 92);">Register</button></a>
  </ng-template>
</div>
<div style="height: 100px;">

</div>