<div class="card" style="width: 50%; margin-left: 25%;">
  <form #forgotForm="ngForm" (ngSubmit)="resetPassword(forgotForm)">
    <div id="forgottt">
    </div>

    <h3 style="text-align: center; font-family: 'Pacifico', cursive;; font-size: 18px; font-weight: bold;">FORGOT
      PASSWORD</h3>
    <label for="userId"><b>USER ID</b></label><br>
    <input type="text" placeholder="Enter UserId" id="userId" #id="ngModel" name="userId"
      [(ngModel)]="loginforgetdto.id" required pattern="[0-9]*" maxlength="4"> <br>
    <div *ngIf="id.invalid && (id.dirty||id.touched)" style="color: red;">
      <span *ngIf="id.errors.required">UserId is required</span>
      <span *ngIf="id.errors.pattern">Please enter a valid userId </span>
    </div>

    <label for="userId"><b>Email</b></label><br>
    <input type="text" placeholder="Enter Email" id="email" #email="ngModel" name="email"
      [(ngModel)]="loginforgetdto.email" required pattern="[a-z0-9._%+-]+@[a-z0-9-]+\.[a-z]{2,4}$"> <br>
    <div *ngIf="email.invalid && (email.dirty||email.touched)" style='color:red; border-color:red;'>
      <div *ngIf="email.errors.required">Email is required</div>
      <div *ngIf="email.errors.pattern">Please enter a valid email</div>
    </div>
    <div id="forgott" style="color: darkred;"></div>
    <div id="emaillink"></div>
    <button type="submit" class="signupbtn">Send Link</button>
  </form>

</div>
<div style="margin-top:200px ;"></div>
