<div class="navbar">
    <div class="logo"><input type="image" src="../assets/logo3.png" style="height: 110px; width: 160px;" class="dropbtn" /></div>
    <ul>
        <li>
            <div class="dropdown">
                <input type="image" src="../assets/loginn.png" style="height: 35px; width: 35px;" class="dropbtn" />
                <div class="dropdown-content">
                    <a [routerLink]="['/trackticket']" style="font-family: 'Pacifico', cursive;;">Track booking</a>
                    <span *ngIf="isStatus then block2 else block1"></span>
                    <ng-template #block1>
                        <a [routerLink]="['/loginLink']" style="font-family: 'Pacifico', cursive;;">Login/Sign-up</a>
                    </ng-template>
                    <ng-template #block2>
                        <a [routerLink]="['/userDashBoard']" style="font-family: 'Pacifico', cursive;;">DashBoard</a>
                        <a (click)="signOut()">Sign Out</a>
                    </ng-template>
                    <a [routerLink]="['/feedbackLink']" style="font-family: 'Pacifico', cursive;;">Feedback</a>
                </div>
            </div>
            <li><a [routerLink]="['/contactUsLink']" style="float: right; font-family: 'Pacifico', cursive;;">CONTACT US</a></li>

            <li><a href=#about-section style="float: right; font-family: 'Pacifico', cursive;;">ABOUT US</a></li>
            <li><a [routerLink]="['/homeLink']" style="float: right; font-family: 'Pacifico', cursive;;">HOME</a></li>
    </ul>
</div>
<div class="row">
    <div class="main">
        <router-outlet></router-outlet>
    </div>
</div>