<div id="Changepass" class="tabcontent">

  <div class="card" >
    <h1 style="text-align: center; font-style:oblique; color:black; font-family: 'Pacifico', cursive;; font-size: 20px;">Change Password</h1>
    <form #passwordForm="ngForm" (ngSubmit)="checkPassword(passwordForm)">
      <label for="npwd">New Password</label><br>
      <input type="password" #npw="ngModel" placeholder="Enter Password" id="npwd" required name="npwd" required
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
        [(ngModel)]="password.newPassword">
      <div *ngIf="npw.invalid && (npw.dirty||npw.touched)" style='color: red; border-color: red;'>
        <div *ngIf="npw.errors.required">Password is required</div>
        <div *ngIf="npw.errors.pattern">Password must contain:<li>A uppercase (A)</li>
          <li>A lowercase (a)</li>
          <li>A digit (0-9)</li>
          <li>A special character (@,#,$,&)</li>
        </div>
      </div><br>

      <label for="cpwd">Confirm Password</label><br>
      <input type="password" #cpw="ngModel" placeholder="Enter Password" id="cpwd" required name="cpwd" required
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
        [(ngModel)]="password.confirmPassword">
      <div *ngIf="cpw.invalid && (cpw.dirty||cpw.touched)" style='color: red; border-color: red;'>
        <div *ngIf="cpw.errors.required">Password is required</div>
        <div *ngIf="cpw.errors.pattern">Please enter valid a password</div>
      </div><br>
      <div id="changePassword"></div>
      <button class="btn1" type="submit">Submit</button>&nbsp;
      <button class="btn2" type="reset">Reset</button>
      <div id="resultDiv" style="color: rgb(17, 63, 63);"></div>
    </form>
  </div>
</div>