  input[type=text],input[type=password],input[type=date], select, textarea {
    width: 85% ;/* Full width */
    padding: 15px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
button {
  border-radius: 4px;
  background-color:rgb(11, 89, 92);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 33%;
  opacity: 0.9;
  float: left;
}
.cancelbtn {
    
    background-color: #f44336;
  }
 
  .outer {
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 800px;
    color: black;
   
    padding: 25px 40px 25px 40px ;
     
    /* background: rgba(155, 149, 238, 0.3); */
     background-color: rgba(0, 0, 0, 0.4);
  }
 
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 60px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
 
 label{
    font-family: 'Pacifico', cursive, "serif";
    font-weight: bold;
  }

  span{

    color: darkred;


    font-family: 'Pacifico', cursive, "serif";
  }
  
  .dt{
    width: 80%;
    padding-top: 0px;
    
    margin: 4px 0 22px 0;
    margin-top:5px;
   border-radius: 8px;
    display: inline-block;
    border: none;
     background: #f1f1f1; 
    font-weight: bold;
  } 