/* You can add global styles to this file, and also import other style files */

/* body{
    background-image: url("./assets/bg.jpg");
} */

.logo{
  float: left;
  color: #ccc;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*{
    box-sizing: border-box;
    font-family: 'Muli', 'Baloo Da 2', 'Montserrat', sans-serif;
  }


   body{
    font-family: 'Pacifico', cursive;
    padding: 10px;
    background: #f1f1f1;
    background-repeat: no-repeat;
  
    background-image: url("./assets/buswater.jpeg");
    background-size: 100% ;
    height:100%;
    font-family: "Lato", sans-serif;
    overflow: auto;
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  }  




  .header{
    padding: 10px;
    text-align: center;
    background: rgb(219, 133, 133);
    width: 80%;
    margin: auto;
    position: sticky;   

    top: 0; 

}
   
  
  
  /* Style the top navigation bar */
  
  
  .main {  
    width: 100%;
    margin: auto;
  }

  
  #main_1 {  
    width: 80%;
    margin: auto;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color:#faf5f5;
    padding: 20px;
    margin-top: 20px;
    overflow: hidden;
  
     background: rgba(204, 223, 228, 0.8);  
    /* background: rgba(155, 152, 152, 0.6);  */
    font-weight: bold;
    border-radius: 20px;
  }
  
  
  .cc {
    float: left;
    padding: 10px;
    margin-top: 20px;
    width: 25%;
  }
  
  /* img {
    width: auto;
    max-width: 245px;
    height: auto;
  } */

  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .footer {

    background-color: rgba(0,0,0,0);

    text-align: center;
    /* overflow: auto; */
    color: #f1f1f1;

  }
  .containers {
    padding: 16px;
    width: 350px;
    margin: auto;
  }
  /* Full-width inputs */
  input[type=text], input[type=password], input[type=email], input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color:rgb(11, 89, 92);
    color:white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    font-weight: bold;
  }
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color:rgb(11, 89, 92);
  }
  span.psw {
    float: right;
    padding-top: 16px;
  }
  button:hover{
      opacity: 0.8;
  }
  .topnav {
    overflow: hidden;
    background-color:rgba(0,0,0,0);
    position: sticky;   
    width: 100%;
    top: 0; 
    margin: auto;

  }
 
  .navbar ul {
    list-style-type: none;
   
    

  }
 
  /* Style the topnav links */
  .navbar a {
    float: left;
    color: black;
    border-radius: 20px;
    transition: 0.2s;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 17px;
    
    font-weight: bold;
  }


  .navbar {
    overflow: hidden; 
    /* background-color: #333; */
    background-color: rgba(0,0,0,0);
    width: 100%;
     /* background: rgba(0,0 ,0, 0);  */
    font-family: Algerian;
    float: right;
   
    
    
  }
  
  /* .navbar a {
    float:none;
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 25px; 
    padding-top: 90px;
    text-decoration: none;
  }
   */
 
  
  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    /* padding: 14px 16px; */
    
    background-color: inherit;
    font-family: inherit;
    
    margin: 0;
   
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(11, 89, 92);
    color: white;
  }
  
  .topnav-right {
    float: right;
  }

  .dropdown-content {
    right: 0;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background: transparent;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background: transparent;
  } 
  
  .dropdown-content a:hover {
    background-color: rgb(11, 89, 92);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }




   .row {
    display: -ms-flexbox; /* IE10 */
     display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px; 
  } 
  
  
  .col-50 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  input[type=text], input[type=password],input[type=date]{
    width: 60%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-weight: bold;
  }
  .content {
    background-color: rgb(168, 83, 83);
    padding: 10px;
    text-align: center;
    color: white;
    
  }






  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .column-f {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  
  .team-1 .team-social a {
    display: inline-block;
    width: 30px;
    height: 20px;
    margin-right: 5px;
     padding: 5px;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    transition: all .3s;
  }
  
  .team-1 .team-social a.social-tw {
    background: #00acee;
    border-radius: 10px;
  }
  
  .team-1 .team-social a.social-fb {
    background: #3b5998;
    border-radius: 10px;
  }
  
  .team-1 .team-social a.social-li {
    background: #0e76a8;
    border-radius: 10px;
  }
  
  .team-1 .team-social a.social-in {
    background: #3f729b;
    border-radius: 10px;
  }
  
  .team-1 .team-social a.social-yt {
    background: #c4302b;
    border-radius: 10px;
  }

  footer{
    height: auto;
    width: 100%;
    color: ivory;
    background-color: #073b4c;
    position: absolute;
    left: 0;
    right: 0;
    
    padding-bottom: 20px;
  }
  .columns {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    margin-left: 40px;
    /* padding: 1px; */
  }
  

  

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* 
*{
  /* font-family: 'Pacifico', cursive;;
  font-family: 'Sancreek', cursive; 
  font-family: 'Pacifico', cursive;;
  font-size: x-large;
} */