<div id="main_1" class="card" style="margin-top: 35px; border-radius: 30px;">
  <div class="outer" style="padding-top: 22px ; padding-bottom: 35px;">
    <p style="text-align: center; font-family: 'Roboto Condensed', sans-serif;; font-size: 20px;"><b>BOOK YOUR BUS TODAY</b>
    </p>

    <form #searchBusForm="ngForm" (ngSubmit)="checkBus(searchBusForm)">
      <div id="errorForDirectClick" style="text-align: center; color: darkred;"></div>
      <div class="row">
        <div class="col_s">
          <span *ngIf="(src.dirty||src.touched)" style='color:darkred;'>
            <span style="margin-left: 10%;" *ngIf="src.errors?.required">Source is required</span></span><br>
          <input list="list-buses" type="text" value="source" id="source" name="source" [(ngModel)]="source"
            #src=ngModel placeholder="ENTER SOURCE CITY" required style="margin-left: 10%;">


          <datalist id="list-buses">
            <option value="Pune">
            <option value="Mumbai">
            <option value="Chennai">
            <option value="Aurangabad">
            <option value="Nashik">
            <option value="Nagpur">

          </datalist>
        </div>




        <div class="col_s">
          <span *ngIf="(des.dirty||des.touched)" style='color:darkred;'>
            <span style="margin-left: 9%;" *ngIf="des.errors?.required">Destination is required</span></span><br>

          <input list="list-buses" type="text" value="destination" id="destination" name="destination"
            [(ngModel)]="destination" #des=ngModel placeholder="ENTER DESTINATION CITY" required
            style="margin-left: 5%;">

          <datalist id="list-buses">
            <option value="Pune">
            <option value="Mumbai">
            <option value="Chennai">
            <option value="Aurangabad">
            <option value="Nagpur">

          </datalist>
        </div>

        <div class="col_s">
          <span *ngIf="(dt.dirty||dt.touched)" style='color:darkred;'>
            <span style="margin-left: 9%;" *ngIf="dt.errors?.required">Travel date is required</span></span><br>

          <mat-form-field class="dt">
            <input matInput [matDatepicker]="picker" [min]="minDate" placeholder="   CHOOSE A DATE" name="dateOfJourney"
              required #dt="ngModel" [(ngModel)]=dateOfJourney>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <button type="submit" style="margin-left: 38%;"> SEARCH BUSES</button>
    </form>
  </div>
  <marquee behavior="alternate"><p>If you book your tickets using your HDFC credit card, you will receive a discount of up to 30%</marquee>
  <p style="text-align:center;">#TravelLikeaKing</p>
</div>
<div style="background-color: white; margin-top: 60px; width: 100%;">
  <div style="border-radius: 35px;">
    <br>
    <h2 style="text-align: center; font-size: 25px; ">POPULAR DESTINATIONS
    </h2>
    <div id="main_1" class="slideshow-container">
      <div class="mySlides fade">
        <img src="https://images.unsplash.com/photo-1524492412937-b28074a5d7da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80" id="img1" alt="JAIPUR" style="height: 450px;">
        <div class="text">Agra
        </div>
      </div>

      <div class="mySlides fade">

        <img src="https://pbs.twimg.com/media/EB8l81tU8AA9V4n.jpg:large" id="img1" alt="JAIPUR" style="height: 450px;">
        <div class="text">Chennai
        </div>
      </div>

      <div class="mySlides fade">
        <img src="https://wallpapercave.com/wp/wp10257499.jpg" id="img1" alt="JAIPUR" style="height: 450px;">
        <div class="text">HYDERABAD
        </div>
      </div>
      <div class="mySlides fade">
        <img src="https://images.pexels.com/photos/88212/pexels-photo-88212.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="img1" alt="JAIPUR" style="height: 450px;">
        <div class="text">GOA
        </div>
      </div>
      <div class="mySlides fade">
        <img src="https://cdn.pixabay.com/photo/2018/07/17/15/52/india-3544450_960_720.jpg" id="img1" alt="JAIPUR" style="height: 450px;">
        <div class="text">MUMBAI
        </div>
      </div>
      <div class="mySlides fade">
        <img src="https://c0.wallpaperflare.com/preview/382/350/491/india-mangaluru-tannirbhavi-beach-sunset.jpg" id="img1" style="height: 450px;">
        <div class="text">MANGALORE
        </div>
      </div>
      <div class="mySlides fade">
        <img src="../assets/tirupati.jpg" id="img1" style="height: 450px;">
        <div class="text">TIRUPATI
        </div>
      </div>
    </div>
    <br>

    <div style="text-align:center">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

  </div>

  


  <div style=" background-color:#ef476f; color:white;">
    <br>
    <h1 style="text-align: center; font-size: 30px; margin-top:3%; color:white;">Passenger Guidelines</h1> <br>
    <div id="main_1">
      <div class="row">
        <div class="columns">
          <h2 style="margin-top: 5%; color:white; ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mandatory masks</h2><br>
          <input type="image" src="../assets/mask.jpg"
            style="height: 210px; width: 260px; " /><br><br>
          <p>
           Wearing of face masks while on conveyances and 
           at transportation hubs
          </p>
          <br>
        </div>
        <div class="columns">

          <h2 style="margin-top: 5%;color:white;">Do not travel with Symptoms</h2><br>
          <input type="image" src="https://static.vecteezy.com/system/resources/previews/004/449/715/original/man-with-high-temperature-semi-flat-color-character-posing-figure-full-body-person-on-white-post-covid-syndrome-isolated-modern-cartoon-style-illustration-for-graphic-design-and-animation-vector.jpg"
            style="height: 210px; width: 260px; " /><br><br>
          <p>
            Passengers are advised to refrain from travel if they show Covid-19 Symptoms. In such an event, the
            passenger risks de-boarding.</p>
          <br>
        </div>
        <div class="columns">
          <h2 style="margin-top: 5%;color:white; ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mandatory Vaccine certificate</h2>
          <br>
          <input type="image" src="https://media.istockphoto.com/vectors/vaccine-certificate-icon-vaccination-document-vector-illustration-vector-id1321030424?k=20&m=1321030424&s=612x612&w=0&h=Q7Ia4WlaU7cL8Sddut2KIUzYPiyg5wzooSLQm81w_4Y="
            style="height: 210px; width: 260px; " /><br><br>
          <p>
            Make sure you are up to date with your COVID-19 vaccines before travel.</p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div id="main_1" style="margin-top: 2%; color: #ffd166;">
      <br>

      <h1 style="color: #ffd166; text-align: center; font-size:30px; font-family: 'Roboto Condensed', sans-serif;">Our Services
      </h1>
      <br>
      <div>

        <section class="feature-section img-fluid">

          <div class="container">
            <div class="row">

            </div>
            <div class="row">
              <div class="col_s">
                <div class="features-div">
                  <i style="font-size:10em;" class="fa fa-laptop" aria-hidden="true"></i>
                  <br>
                  <br>
                  <h2 class="features-heading" style="font-size: 25px;">User Friendly Interface</h2>
                  <br>
                </div>
              </div>
              <div class="col_s">
                <div class="features-div">
                  <i style="font-size:10em;" class="fa fa-bullseye"></i>
                  <br>
                  <br>
                  <h2 class="features-heading" style="font-size: 25px;">Flexible Booking Engine</h2>
                  <br>
                </div>
              </div>
              <div class="col_s">
                <div class="features-div">
                  <i style="font-size:10em;" class="fa fa-user-circle"></i>
                  <br>
                  <br>
                  <h2 class="features-heading" style="font-size: 25px;">Customized Booking Engine</h2>
                  <br>
                </div>
              </div>
              <div class="col_s">
                <div class="features-div">
                  <i style="font-size:10em;" class="fa fa-inr"></i>
                  <br>
                  <br>
                  <h2 class="features-heading" style="font-size: 25px;">Reasonable Price</h2>
                  <br>
                </div>
              </div>
              <div class="col_s">
                <div class="features-div">
                  <i style="font-size:10em;" class="fa fa-undo"></i>
                  <br>
                  <br>
                  <h2 class="features-heading" style="font-size: 25px;">Guaranted Work</h2>
                  <br>
                </div>
              </div>
              <div class="col_s">
                <div class="features-div">
                  <i style="font-size:10em;" class="fa fa-envelope"></i>
                  <br>
                  <br>
                  <h2 class="features-heading" style="font-size: 25px;">24/7 Support</h2>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>


  <section id="about-section"
    style=" background-color:#06d6a0; color: white; margin-top: 5%;margin-bottom: 70px;padding-left: 75px;padding-right: 75px;">
    <div class="section-title">

      <h2 style="font-size: 30px; font-family: 'Roboto Condensed', sans-serif;color: white;">ABOUT US</h2>
      <p style="font-family: 'Roboto Condensed', sans-serif;color: white; font-size: 27px;"> OBS Travels - India's fastest
        online bus Booking System</p>
       <h3 style="font-size: 30px; font-family: 'Roboto Condensed', sans-serif;color: white;">Overwhelming features of OBS Travels</h3>
        <ul>
            <li style="font-size: 23px; font-family: 'Roboto Condensed', sans-serif;color: white;"> Safe and Secure Booking System</li><br>
            <li style="font-size: 23px; font-family: 'Roboto Condensed', sans-serif;color: white;">Advance Seat Management</li><br>
            <li style="font-size: 23px; font-family: 'Roboto Condensed', sans-serif;color: white;">Stay informed with us about your booking Status through Email</li><br>
        </ul>
      <br>

    </div>
    <br>

    <h2 style="text-align:center;font-size: 30px; font-family: 'Roboto Condensed', sans-serif; color: white;"> Development Team</h2>
    <div class="row">
      <div class="column" style="color: #118ab2;">
        <div class="team-1">
          <div class="card">
            <div class="container">
              <h2 style="color: #118ab2;font-family: 'Roboto Condensed', sans-serif;">Tamasjit Ghoshal</h2>
              <p class="title">Developer</p>

              <p>tamasjit@gmail.com</p>
            </div>
          </div>
        </div>
      </div>

      <div class="column" style="color: #118ab2;">
        <div class="team-1">
          <div class="card">
            <div class="container">
              <h2 style="color: #118ab2;font-family: 'Roboto Condensed', sans-serif;">Koreboina Esther Rani</h2>
              <p class="title">Developer</p>

              <p>esther@gmail.com</p>
            </div>
          </div>
        </div>
      </div>

      <div class="column" style="color: #118ab2;">
        <div class="team-1">
          <div class="card">
            <div class="container">
              <h2 style="color: #118ab2;font-family: 'Roboto Condensed', sans-serif;">C Pinku</h2>
              <p class="title">Developer</p>
              <p>cpinku@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column" style="color: #118ab2;">
        <div class="team-1">
          <div class="card">
            <div class="container">
              <h2 style="color: #118ab2;font-family: 'Roboto Condensed', sans-serif;">ManiMaran G</h2>
              <p class="title">Developer</p>
              <p>Manimaran@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column" style="color: #118ab2;">
        <div class="team-1">
          <div class="card">
            <div class="container">
              <h2 style="color: #118ab2;font-family: 'Roboto Condensed', sans-serif;">Lokesh P R</h2>
              <p class="title">Developer</p>
              <p>Lokesh@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column" style="color: #118ab2;">
        <div class="team-1">
          <div class="card">
            <div class="container">
              <h2 style="color: #118ab2;font-family: 'Roboto Condensed', sans-serif;">Embar Balaji Abhinand</h2>
              <p class="title">Developer</p>
              <p>Abhinand@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column" style="color: #118ab2;">
        <div class="team-1">
          <div class="card">
            <div class="container">
              <h2 style="color: #118ab2;font-family: 'Roboto Condensed', sans-serif;">GV Siva Kumar</h2>
              <p class="title">Developer</p>
              <p>sivakumar@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column" style="color: #118ab2;">
        <div class="team-1">
          <div class="card">
            <div class="container">
              <h2 style="color: #118ab2; font-family: 'Roboto Condensed', sans-serif;">Venati Jaswanth</h2>
              <p class="title">Developer</p>
              <p>jaswanth@gmail.com</p>
            </div>
          </div>
        </div>
      </div> 
    <div class="column" style="color: #118ab2;">
      <div class="team-1">
        <div class="card">
          <div class="container">
            <h2 style="color: #118ab2;font-family: 'Roboto Condensed', sans-serif;">Rajesh</h2>
            <p class="title">Developer</p>
            <p>rajesh@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
    <div class="column" style="color: #118ab2;">
      <div class="team-1">
        <div class="card">
          <div class="container">
            <h2 style="color: #118ab2;font-family: 'Roboto Condensed', sans-serif;">CS Mohammed Afroz</h2>
            <p class="title">Developer</p>
            <p>Afroz@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
    <div class="column" style="color: #118ab2;">
      <div class="team-1">
        <div class="card">
          <div class="container">
            <h2 style="color: #118ab2;font-family: 'Roboto Condensed', sans-serif;">Mandapati Jayadeep Raju</h2>
            <p class="title">Developer</p>
            <p>Jayadeepraju@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
      
      
  
      
    </div>
  </section>
  <div >

  </div>
</div>