* {
    box-sizing: border-box
}


/* Style the tab */

.tab {
    float: left;
    background: rgba(255, 255, 255, 0.589);
    width: 22%;
    height: 590px;
}


/* Style the buttons inside the tab */

.tab button {
    display: block;
    background-color: inherit;
    font-weight: bold;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 20px;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #f1f1f1;
    opacity: 0.9;
}


/* Create an active/current "tab button" class */

.tab button.active {
    background-color: #f1f1f1;
    opacity: 0.9;
}


/* Style the tab content */

.tabcontent {
    float: left;
    padding: 0px 12px;
    background: transparent;
    border: 1px #ccc;
    width: 75%;
    border-left: none;
    height: 600px;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=number],
input[type="password"] {
    width: 50%;
    opacity: 1;
    padding: 12px 18px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 0px 3px 6px #00000029;
}

input[type=text],
input[type=date],
input[type=week],
input[type=month] {
    width: 50%;
    padding: 12px 18px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 0px 3px 6px #00000029;
}


/* Set a style for all buttons */

button {
    background-color: rgb(11, 89, 92);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #00000029;
}

.card {
    background-color: white;
    opacity: 0.9;
    padding: 20px;
    margin-top: 20px;
    overflow: hidden;
    font-family: 'Pacifico', cursive;
}

body {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0 0;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

th {
    text-align: center;
    padding: 16px;
    font-family: 'Pacifico', cursive;
    font-size: larger;
}

td {
    text-align: center;
    padding: 16px;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.btn1:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

label {
    font-family: 'Pacifico', cursive;
    font-size: larger;
}

.dt {
    width: 80%;
    padding-top: 0px;
    margin: 4px 0 22px 0;
    margin-top: 5px;
    border-radius: 8px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-weight: bold;
}