<div id="main_1">
    <div class="card">
        <div style="text-align: center;">
            <h2>{{selectedBus?.busName}}</h2>
            <p>{{selectedBus?.source}} To {{selectedBus?.destination}}</p>
            <p> {{dateOfJourney}}</p>
        </div>

        <div id="seat-container" style="background-image: url('../../assets/bus.png'); width: 700px; height: 210px; ">
            <div class="rowSeat" style="height: 30px;">
            </div>
            <div class="rowSeat">

                <div class="seat" style="width: 60px;"></div>
                <div class="seat" #a1 id="a1" (click)="selectSeat('a1')"><input type="image" src="../../assets/seat.png" /></div>
                <div class="seat" #a2 id="a2" (click)="selectSeat('a2')"><input type="image" src="../../assets/seat.png" /></div>
                <div class="seat" #a3 id="a3" (click)="selectSeat('a3')"><input type="image" src="../../assets/seat.png" /></div>
                <div class="seat" #a4 id="a4" (click)="selectSeat('a4')"><input type="image" src="../../assets/seat.png" /></div>
                <div class="seat" #a5 id="a5" (click)="selectSeat('a5')"><input type="image" src="../../assets/seat.png" /></div>
                <div class="seat" #a6 id="a6" (click)="selectSeat('a6')"><input type="image" src="../../assets/seat.png" /></div>
                <div class="seat" #a7 id="a7" (click)="selectSeat('a7')"><input type="image" src="../../assets/seat.png" /></div>
                <div class="seat" #a8 id="a8" (click)="selectSeat('a8')"><input type="image" src="../../assets/seat.png" /></div>

            </div>


            <div class="rowSeat">
                <div class="seat" style="width: 60px;"></div>

                <div class="seat" #b1 id="b1" (click)="selectSeat('b1')"><input type="image" src="../../assets/seat.png" /></div>
                <div class="seat" #b2 id="b2" (click)="selectSeat('b2')"><input type="image" src="../../assets/seat.png" /></div>
                <div class="seat" #b3 id="b3" (click)="selectSeat('b3')"><input type="image" src="../../assets/seat.png" /></div>
                <div class="seat" #b4 id="b4" (click)="selectSeat('b4')"><input type="image" src="../../assets/seat.png" /></div>
                <div class="seat" #b5 id="b5" (click)="selectSeat('b5')"><input type="image" src="../../assets/seat.png" /></div>
                <div class="seat" #b6 id="b6" (click)="selectSeat('b6')"><input type="image" src="../../assets/seat.png" /></div>
                <div class="seat" #b7 id="b7" (click)="selectSeat('b7')"><input type="image" src="../../assets/seat.png" /></div>
                <div class="seat" #b8 id="b8" (click)="selectSeat('b8')"><input type="image" src="../../assets/seat.png" /></div>
            </div>

            <br>

            <div class="rowSeat">
                <div class="seat" style="width: 60px;"></div>

                <div class="seat" #c1 id="c1" (click)="selectSeat('c1')"><input type="image" src="../../assets/seat.png" /></div>
                <div class="seat" #c2 id="c2" (click)="selectSeat('c2')"><input type="image" src="../../assets/seat.png" /></div>
                <div class="seat" #c3 id="c3" (click)="selectSeat('c3')"><input type="image" src="../../assets/seat.png" /></div>
                <div class="seat" #c4 id="c4" (click)="selectSeat('c4')"><input type="image" src="../../assets/seat.png" /></div>
                <div class="seat" #c5 id="c5" (click)="selectSeat('c5')"><input type="image" src="../../assets/seat.png" /></div>
                <div class="seat" #c6 id="c6" (click)="selectSeat('c6')"><input type="image" src="../../assets/seat.png" /></div>
                <div class="seat" #c7 id="c7" (click)="selectSeat('c7')"><input type="image" src="../../assets/seat.png" /></div>
                <div class="seat" #c8 id="c8" (click)="selectSeat('c8')"><input type="image" src="../../assets/seat.png" /></div>
                <div class="logo"><img id="driverLogo" src="../assets/driver_logo.png" height="45px" width="40px" alt="driver_img" style="margin-left: 60px;"></div>
            </div>
        </div>
        <br>


        <div style="text-align: center; background-color: rgb(236, 234, 234);">
            <p class="text">
                You have selected {{selectedSeatCount}} seats for a price of ₹{{totalAmount}}
            </p>
            <div *ngFor="let seat of selectedSeatsList">
                <p> You have selected {{seat}}</p>
            </div>

        </div>
        <button [disabled]="isSeatSelected" style="margin-left: 360px;" (click)="sendDataOfSeats()">Proceed</button>


    </div>
</div>
<div style="margin-top:100px ;"></div>