<div class="container card">
    <div>
            <h1>About-Us</h1>
           <h2> OBS Travels(Online Bus Booking System) - India's fastest online bus service kjghgh</h2>
             <!-- <h3>over the years, has strived to deliver easy booking solutions to its customers. Our continued efforts have resulted into EasyBus becoming one of the leading ticketing platforms in India for various Bus services. We have a strong presence with a ticket inventory from over 2500 bus partners and 100000 route options our app and website.</h3>

              <h3>  Founded in the year 2008, EasyBus Services (India) Private Limited is a pioneer in providing end-to-end software and other value-added solutions such as e-ticketing systems, fleet management solutions, vehicle tracking systems, passenger information systems, logistics management backed by a 24x7 customer support center. The company also provides technology solutions to more than 300 large private bus partners in India, 5 state transport corporations and 2 international bus partners.</h3> 
                
                <h4>
                    Our ever-expanding services now also include Hotels and Rentals for buses. With an array of products lined, we aim to constantly introduce such affordable and first in industry customer centric solutions to the market.
                   
                    Today, EasyBus is also the preferred Information Technology Partner for State Transport Corporations and Private Bus Fleet Bus Partners. EasyBus is an ISO 9001:2008 certified company. 
                </h4> -->
           <h3>Overwelming features of OBS Travels</h3>
             <ul>
                 <li> Safe and Secure Booking System</li>
                 <li>Advance Seat Management</li>
                 <li>Stay informed with us about your booking Status through Email</li>
             </ul>
           <br>
           
           
        <h1>Development Team</h1>
    </div>
    <br>
    <div class="row">
        <div class="column">
            <div class="team-1">
                <div class="team-img">
                    <img src="../assets/images/team-2-3.jpg"  alt="Team Image">
                </div>
                <div class="team-content">
                    <h2>Tamasjit Ghoshal</h2>
                    <h3>Developer</h3>
                    <p>Developer of OBS Travels</p>
                    <h4>tamasjit@gmail.com</h4>
                    <div class="team-social">
                        <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                        <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                        <a class="social-yt" href=""><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="team-1">
            </div>
        </div>
        <div class="column">
            <div class="team-1">
                <div class="team-img">
                    <img src="../assets/images/team-2-3.jpg" alt="Team Image">
                </div>
                <div class="team-content">
                    <h2>Koreboina Esther Rani</h2>
                    <h3>Developer</h3>
                    <p>Developer of OBS Project</p>
                    <h4>esther@gmail.com</h4>
                    <div class="team-social">
                        <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                        <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                        <a class="social-yt" href=""><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="team-1">
                <div class="team-img">
                    <img src="../assets/images/team-2-4.jpg">
                </div>
                <div class="team-content">
                    <h2>Pinku</h2>
                    <h3>Designer</h3>
                    <p>Designer of OBS Project</p>
                    <h4>pinku@gmail.com</h4>
                    <div class="team-social">
                        <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                        <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                        <a class="social-yt" href=""><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>